@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    h1,h2,h3,h4{
        font-family: 'Rokkitt', serif;
    }
}

.side{

    &.visible{
        display: block !important;
    }
}

.xs-only{
    display: none;

    @media only screen and (max-width: 576px){
        display: block;
    }

    .banner{
        margin-top: 30px;
        margin-bottom: 15px;
    }
}

.xs-not{
    display: block;

    @media only screen and (max-width: 576px){
        display: none;
    }
}

.btn-wrapper{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;

    a{
        text-decoration: none;

        &:hover{
            color: #fff;
        }
        .btn-standard{
            height: 40px;
            width: 200px;
            background-color: #000;
            border: solid 1px #000;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Rokkitt', serif;
            text-align: center;
            line-height: 40px;
            text-transform: uppercase;
            margin: auto;

            &:hover{
                background-color: #fff;
                color: #000;
            }
        }
    }
}



.header-wrapper{
    width: 100%;
    border-bottom: solid 1px #c9c9c9;

    .navbar{
        padding: 5px 0px;

        ul{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .navbar-brand{

            img{
                width: 50px;

                @media only screen and (max-width: 576px){
                    width: 40px;
                }
            }
        }

        li{
            list-style-type: none;
        }

        .search-field{
            border: solid 1px #c9c9c9;
            border-radius: 10px;
            padding: 5px 10px;
            @media only screen and (max-width: 576px){
                width: 285px;
                margin: auto;
            }

            input{
                padding: 5px 10px;
                margin-right: 5px;
                width: 230px;
                border: none !important;

                &:focus{
                    border: none !important;
                    outline: 0px transparent !important;
                }

                &:active{
                    border: none !important;
                    outline: 0px transparent !important;
                }
            }

            img{
                cursor: pointer;
            }
        }

        .nav-item{
            @media only screen and (max-width: 576px){
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .nav-link{
                font-size: 18px;
                font-family: 'Rokkitt', serif;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0px;
                margin-right: 20px;
            }
        }

        .navbar-toggler{
            border-color: transparent;
            outline: 0px transparent !important;
        }
    }
}

.footer-wrapper{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000;
    font-size: 16px;
    text-align: center;
    color: #fff;

    .row{
        margin-top: 10px;
        margin-bottom: 15px;

        a{
            margin-left: 10px;
            margin-right: 10px;
        }

        p{
            margin: 0px;
        }
    }
}

.related-list{
    margin-top: 30px;
    margin-bottom: 30px;

    h2{
        margin-bottom: 20px;
        text-align: center;
        background: #000;
        color: #fff;
        font-size: 28px;
        line-height: 38px;
    }

    a{
        text-decoration: none;

        &:hover{
            color: initial;
        }
    }

    .related-post{
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: solid 1px #ccc;
    
        .related-img{
            height: 80px;
            width: 35%;
            float: left;
            overflow: hidden;

            @media only screen and (max-width: 768px){
                height: auto;
                width: 40%;
            }

            img{
                max-width: 100%;
            }
        }
    
        .related-text{
            width: 65%;
            float: left;

            @media only screen and (max-width: 768px){
                width: 60%;
            }

            p{
                padding-left: 10px;
                font-size: 16px;
                line-height: 22px;
                margin: 0px;
                font-weight: 700;
                margin-bottom: 15px;

                @media only screen and (max-width: 768px){
                    height: auto;
                    font-size: 14px;
                }
            }
    
            span{
                display: block;
                text-align: right;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}




.blog-list{
    padding-bottom: 50px;

    .blog-item{
        height: 280px;

        @media only screen and (max-width: 768px){
            height: auto;
        }

        a{
            text-decoration: none;
            text-transform: none;

            h3{
                &:hover{
                    color: #0e72d1;
                }
            }

            &:hover{
                color: initial;
            }
        }

        .blog-img{
            width: 100%;
            height: 180px;
            overflow: hidden;

            @media only screen and (max-width: 768px){
                height: auto;
            }

            img{
                max-width: 100%;
            }
        }

        .blog-text{
            h3{
                font-size: 26px;
                margin-top: 10px;
                line-height: 32px;

                @media only screen and (max-width: 768px){
                    font-size: 20px;
                    line-height: 26px;
                }

                @media only screen and (max-width: 576px){
                    font-size: 22px;
                    line-height: 28px;
                }
            }

            p{
                font-size: 14px;
                font-style: italic;
                font-weight: 300;
                line-height: 22px;
                color: #000;

                @media only screen and (max-width: 768px){
                    font-size: 12px;
                    line-height: 20px;
                }

                @media only screen and (max-width: 576px){
                    font-size: 12px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .separator{
        margin-bottom: 15px;
        @media only screen and (max-width: 576px){
            margin-bottom: 0px;
        }
    }
}

.banner{
    width: 100%;
    height: 220px;
    background-color: #ccc;
    margin-bottom: 30px;
}



.index-view{
    padding-top: 15px;

    .main{
        
        .poster{
            width: 100%;
            border-bottom: solid 1px #000;

            a{
                text-decoration: none;
                text-transform: none;
            }

            .poster-img{
                width: 100%;
                height: 365px;
                overflow: hidden;

                @media only screen and (max-width: 768px){
                    height: auto;
                }

                img{
                    max-width: 100%;
                }
            }

            .poster-bottom{
                .left-side{
                    float: left;
                    width: 80%;
                    
                    @media only screen and (max-width: 768px){
                        width: 100%;
                    }

                    h3{
                        font-size: 32px;
                        padding-left: 10px;
                        margin-top: 10px;

                        &:hover{
                            color: #0069c9;
                        }

                        @media only screen and (max-width: 768px){
                            font-size: 30px;
                            padding-left: 5px;
                        }

                        @media only screen and (max-width: 576px){
                            font-size: 28px;
                        }
                    }

                    p{
                        font-size: 14px;
                        font-weight: 300;
                        text-align: justify;
                        line-height: 22px;
                        padding-left: 10px;
                    }
                }

                .right-side{
                    float: left;
                    width: 20%;
                    padding-top: 5px;

                    @media only screen and (max-width: 768px){
                        width: 100%;
                    }

                    span{
                        display: block;
                        width: 100%;
                        font-size: 16px;
                        font-style: italic;
                        color: #000;
                        font-weight: 400;
                        text-align: right;
                        padding-right: 10px;

                        @media only screen and (max-width: 768px){
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .blog-list{
            padding-top: 30px;
        }
    }

    .side{
        @media only screen and (max-width: 576px){
            display: none;
        }

        .banner{
            width: 100%;
            height: 220px;
            background-color: #ccc;
            margin-bottom: 20px;
        }
    }
}

