.header-wrapper{
    width: 100%;

    .navbar{

        .navbar-brand{

            img{
                width: 66px;

                @media only screen and (max-width: 500px){
                    width: 50px;
                }
            }
        }
    }
}